.axis path,
.axis line {
  fill: white;
  stroke: white;
  /* shape-rendering: crispEdges; */
}

.axis text {
    fill: white;
}

.x.axis line {
    fill: white;
    stroke: white;
}

.x.axis path {
  fill: white;
  stroke: white;
}

.line {
  fill: white;
  stroke: white;
  stroke-width: 1.5px;
}

